:root {
    --icon--tensor-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M48 170v196.92L240 480V284L48 170zM272 480l192-113.08V170L272 284zm176-122.36zM448 144L256 32 64 144l192 112 192-112z"/></svg>');
}

.admonition.tensorshape {
    border-color: rgb(174, 45, 144);
}

.admonition.tensorshape > .admonition-title {
    background-color: rgba(174, 45, 144, 0.1);
    border-color: rgb(174, 45, 144);
}

.admonition.tensorshape > .admonition-title::before {
    background-color: rgb(174, 45, 144);
    -webkit-mask-image: var(--icon--tensor-shape);
    mask-image: var(--icon--tensor-shape);
}
