[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
pandas = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
flake8 = "*"
black = "*"
sphinx = "*"
myst-parser = "*"
attrs = "*"
sphinx-design = "*"
furo = "*"
einops = "*"

[dev-packages]

[requires]
python_version = "3.10"
